build/
dist/
_stage/
_deps/
vendor/
lib/
!3rdparty/quirc/lib/
!3rdparty/quirc/lib/**
toolchain/
opencv-mobile/
!3rdparty/opencv/
!3rdparty/opencv/**
!3rdparty/target_python/
!3rdparty/target_python/**
3rdparty/rknpu2/
3rdparty/allocator/
3rdparty/ive/
3rdparty/librga/
3rdparty/rockchip_samples/
*.o
*.a
*.so
*.so.*
!3rdparty/opencv/lib/*.a
!3rdparty/opencv/lib/*.so
!3rdparty/opencv/lib/*.so.*
!3rdparty/opencv/**/*.a
!3rdparty/opencv/**/*.so
!3rdparty/opencv/**/*.so.*
!3rdparty/target_python/lib/
!3rdparty/target_python/lib/libpython3.11.so
*.zip
*.tar.xz
*.log
__pycache__/
*.pyc
visiong_runtime_bundle.zip
.DS_Store
